*.iml
.gradle
/local.properties
/.idea/*
*.idea
.DS_Store
**/build/*
/captures
.externalNativeBuild
.cxx
local.properties
**/*.hprof
*.log


# Mac OS X Finder
.DS_Store

# Private Keys
*.pem

# Xcode legacy
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser

# Xcode
xcuserdata/
project.xcworkspace/
DerivedData/

# build products
build/
*.[oa]
!libcrypto-universal.a
!libsolclient.a
!libssl-universal.a

# repositories
.hg
.svn
CVS

# automatic backup files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

# Cocoapods
Pods/
*.lock
